img {
    float: left;
    margin-right: 15px;
}

p {
    line-height: 150%;
    width: 650px;
}

dt {
    font-size: 1.15rem;
    background-color: rgb(255, 229, 233);
    width: 300px;
}

dl, dt, dd {
    margin: 0;
    line-height: 150%;
}